
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
    padding-top: 75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: Arial, sans-serif;
    background-color: #f7e6ff;
}

/* Create your own classes below! */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background-color: rgb(73, 31, 153);
  }
  
  li {
    float: left;
    border-right: 2px solid rgb(245, 227, 253);
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(53, 55, 184);
  }

  .rounded-corner-solid-border {
    border-radius: 20px;
    border: 1px solid #790f79;
    padding: 20px;
    width: 400px;
    text-align: justify;
  }

  .complimentary-green {
    background-color: #e6ffeb;
  }

  .complimentary-yellow {
    background-color: #fbffe6;
  }

  .image-box {
    width: 400px;
    object-fit: contain;
  }

  .text-box-container {
    display: flex;
    justify-content: space-evenly;
  }

  .text-box-container-stacked {
    align-content: flex-start;
    display: block;
  }

  .div-class-1 {
    height: 100vh;
    width: 100%;
  }

  .div-class-2 {
    height: 100vh;
    width: 100%;
  }

  .tile-background-image {
    background-image: url("../images/coffee.jpg");
  }

  .background-image {
    background-image: url("../images/coffee.jpg");
    background-repeat: no-repeat;
  }

  .background-image-fullscreen {
    background-image: url("../images/coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }